<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplos Flask-WTF</title>
</head>
<body>
    <div>
        <h1>Exemplos Flask-WTF</h1>
        <p>Escolha como deseja preencher o formulário:</p>

        <ul>
            <li><a href="/vazio">Formulário Vazio</a></li>
            <li><a href="/via-argumentos">Preenchido via Argumentos</a></li>
            <li><a href="/via-objeto">Preenchido via Objeto</a></li>
        </ul>
    </div>
</body>
</html>
