<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="sucesso">
    <div class="mensagem-sucesso">
        <p>Tarefa "<strong>{{ nome_tarefa }}</strong>" adicionada com sucesso!!</p>
        <a href="{{ url_for('index') }}" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>